<div class="container">
    <div class="row">
        <div class="col-md-10">
            <form id="search_form" action="#">
                <label for="search">Search Locations:</label>
                <div class="search-ux">
                    <select class="form-select">
                        <option value="title">Title</option>
                        <option value="city">City</option>
                        <option value="zipcode">Zipcode</option>
                    </select>
                    <input type="text" class="search" name="search" placeholder="search...">
                    <button class="btn btn-submit btn-primary">Submit</button>
                    <a href="/cms/location/page/1" class="btn btn-primary">Reset</a>
                </div>
            </form> 
        </div>
    </div>
    <div class="row">
        <div class="page-header col-md-10">
            <h3>Location</h3>
        </div>
        <div class="page-header col-md-2">
            <a href="/cms/location/new" class="btn btn-primary">Create a new Entry</a>
        </div>
    </div>
    <table class="table table-striped" id="tableList">
        <tbody class="table-hover">
            {{#each location}}
            <tr data-id="{{_id}}" data-order="{{@index}}">
                <td class="col-md-10">{{title}}</td>
                <td class="col-md-1"><a href="/cms/location/{{_id}}/destroy" class="btn btn-danger">Delete</a> </td>
                <td class="col-md-1"><a href="/cms/location/{{_id}}" class="btn btn-primary">Edit</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <nav class="text-center">
        <ul class="pagination">
            {{#pagination pages page "location"}}{{/pagination}}
        </ul>
    </nav>
</div>
 <script>
        window.onload = function() {
            $('.btn-danger').on('click', function(evt) {
                 if (!confirm('Are you sure?')) evt.preventDefault();
            });

            $('#search_form').on('submit', function(e) {
                e.preventDefault();
                var searchTerm = $('.search').val();
                var searchField = $('.form-select').val();
                if (searchTerm) {
                    window.location.pathname = '/cms/location/search_' + searchField + '/' + searchTerm;
                }
            })
        }
        </script>
 